sudo: required
services:
  - docker
before_install:
  - openssl aes-256-cbc -K $encrypted_613146d5f31e_key -iv $encrypted_613146d5f31e_iv -in service-account.json.enc -out service-account.json -d
  - curl https://sdk.cloud.google.com | bash >/dev/null;
  - source $HOME/google-cloud-sdk/path.bash.inc
  - gcloud components update kubectl
  - gcloud auth activate-service-account --key-file services-account.json  